{% extends "aplicacion/mastertemplate/masterpage.html" %}
{% block title %}  Proyectos {% endblock %}
 
{% block content %}
{% for proyectos in pro %}
<section class="engine"></section><section class="mbr-section content4 cid-s4tXOt2iWc" id="content4-16">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                <br>
                    Proyectos
                   
                </h2>
             
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    {{ proyectos.titulo }}
                    
                </h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content10 cid-s4tXSpDAJn" id="content10-17">
    
     

    <div class="container">
        <div class="inner-container" style="width: 66%;">
            <hr class="line" style="width: 25%;">

            
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">
            {{ proyectos.informacion }}
             <br>
             <br>
            
            
            </div>

            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>


<section class="mbr-section article content11 cid-s4tYwo4ymg" id="content11-19">
     
    
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ol>
                    <li><strong>{{ proyectos.etapa_titulo_1 }}
                        </strong> - {{ proyectos.etapa_texto_1}}
                       
                    </li>
                    <li><strong>{{ proyectos.etapa_titulo_2 }}
                        </strong> - {{ proyectos.etapa_texto_2 }}
                       
                    </li>
                    <li><strong>{{ proyextos.etapa_titulo_3 }}
                        </strong> - {{ proyectos.etapa_texto_3 }}
                       
                    </li>
                </ol>
            </div>
        </div>
    </div>
  
</section>

<section class="mbr-section article content10 cid-s4tYIEVs5c" id="content10-1a">
    
   

    <div class="container">
        <div class="inner-container" style="width: 66%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">
            {{ proyectos.titulo_imagen }}
           
            </div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
 
</section>

<section class="cid-s4tZx3rcJc" id="content13-1d">
    
    
    <div class="container">
            <div class="media-container-row" style="width: 66%;">
                <div class="img-item item1" style="width: 179%;">
                    <img src="{{ proyectos.imagen_1.url }}" title="Proyecto de Tilapias">
                    <div class="img-caption">
                        <p class="mbr-fonts-style align-center mbr-black display-7">
                            {{ proyectos.imagen_suptitulo_1 }}
                           
                        </p>
                    </div>
                </div>
                <div class="img-item">
                    <img src="{{ proyectos.imagen_2.url }}" title="Proyecto de Tilapias">
                    <div class="img-caption">
                        <p class="mbr-fonts-style align-center mbr-black display-7">
                            {{ proyectos.imagen_suptitulo_2 }}
                        </p>
                    </div>
                </div>
            </div>
    </div>
   
</section>
 {% endfor %}
{% endblock %}