{% extends "aplicacion/mastertemplate/masterpage.html" %}
{% block title %}  Proyectos {% endblock %}
 
{% block content %}
<section class="engine"><a href="https://mobirise.info/w">html5 templates</a></section><section class="mbr-section content4 cid-s4tXOt2iWc" id="content4-16">

    <?php
    include("../../conexiones/cone_proyectos.php");
    $seleccionar = "SELECT * FROM ta_pro";
    $almacenar = $conexion -> query($seleccionar);
    $ver = $almacenar -> fetch_assoc();
    ?>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                <br>
                    Antecedentes
                   
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Antecedentes:
                    <br>
                    Ser una empresa.
                    
                </h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content10 cid-s4tXSpDAJn" id="content10-17">
    
     

    <div class="container">
        <div class="inner-container" style="width: 66%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">
            Kampepen surge como una empresa familiar y como proceso natural tras los numerosos viajes
             realizados por Roberto García y Baldomero Sánchez a distintos estados de México, 
             en los que conocen a muchas personas especializados en tratado de animales de granja en donde 
             consiguen toda la información, así como el cuidado de los animales a como cultivar cada tipo de 
             planta con su respetivo lugar.
             <br>
             <br>
            Kampepen se dedica a la producción de todo tipo de productos lácteos, así como quesos frescos, 
             quesos Ranchero, cremas, yogurt, leche, productos de granja, la producción y cuidado de animales 
             como lo son los bovinos lecheros, venta de cabras carneros, venados y puercos americanos.
            
            </div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>
<section class="engine"><a href="https://mobirise.info/w">html5 templates</a></section><section class="mbr-section content4 cid-s4tXOt2iWc" id="content4-16">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                <br>
                    
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Proyecto:
                   
                </h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-s4tYvdcygP" id="content2-18">

     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <blockquote> 
                Para este proyecto acuícola, el cual comprende principalmente el cultivo intensivo de Tilapia 
                 de (Oreochromís niloticus), en estanques circulares de geomembrana con un sistema de 
                 suministro de agua de abasto de noria y aireación a través de sopladores (bowers), una red 
                 de tubería y mangueras de plástico y difusores de burbujas de aire.
                <br><br>
                Dicho cultivo corresponde a un ciclo incompleto, ya que solamente se ejecutará en este 
                 proyecto la pre-engorda y la engorda de tilapia en aproximadamente serian de 6 – 6.5 meses 
                 de cultivo iniciando la operación de la unidad de producción, pero se ha diseñado la operación 
                 contiene durante los 12 meses del año, se espera obtener peces de con pesos en un rango de 
                 peso de 500 a 550 gr peso individual y una producción promedio de 4000 kg por estanque.
                 <br><br>
                En la fase operativa (producción), se prepararán los estanques de pre-engorda para la de 
                 siembra de cría; la que se adquirirá de laboratorio.
                 
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content11 cid-s4tYwo4ymg" id="content11-19">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ol>
                    <li><strong>Siembra y Aclimatación 
                        </strong> - de la cría, en tanques de geomembrana de pre-engorda (aproximadamente 41 días).
                       
                    </li>
                    <li><strong>Alimentación racionada (2-3 al día)
                        </strong> - en función a su crecimiento, administrándole alimento balanceado de las marcas: Purina, Vimifos entre otras, 40% inicial y 35% de proteína.
                       
                    </li>
                    <li><strong>Suministro de aire 
                        </strong> - por medio de un sistema de aireación artificial que consiste bombear aire atmosférica través de sopladores, a una línea general y distribuidas a tuberías de distribución en cada estanque y al final piedras difusoras.
                       
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content10 cid-s4tYIEVs5c" id="content10-1a">
    
     

    <div class="container">
        <div class="inner-container" style="width: 66%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">
            ESQUEMAS DE ESTANQUES DE GEOMEMBRANA INSTALACIONES
           
            </div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>

<section class="cid-s4tZx3rcJc" id="content13-1d">
    
    <div class="container">
            <div class="media-container-row" style="width: 66%;">
                <div class="img-item item1" style="width: 179%;">
                    <img src="../../assets/images/background2.jpg" title="Proyecto de Tilapias">
                    <div class="img-caption">
                        <p class="mbr-fonts-style align-center mbr-black display-7">
                            Responsive
                           
                        </p>
                    </div>
                </div>
                <div class="img-item">
                    <img src="../../assets/images/background9.jpg" title="Proyecto de Tilapias">
                    <div class="img-caption">
                        <p class="mbr-fonts-style align-center mbr-black display-7">
                            Mobile friendly
                        </p>
                    </div>
                </div>
            </div>
    </div>
</section>
{% endblock %}